@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap');

/* Root */
:root {
    --primary-font-size : clamp(1.2vw, 18px, 3rem);
    --secondary-font-size : clamp(1vw, 13px, 2rem);

    /* Colors */
    --very-dark-grayish-blue : hsl(217, 19%, 35%);
    --desaturated-dark-blue : hsl(214, 17%, 51%);
    --grayish-blue : hsl(212, 23%, 69%);
    --light-grayish-blue : hsl(210, 46%, 95%);
}

body {
    width: 100dvw;
    height: 100dvh;
    display: grid;
    place-content: center;
    background-color: var(--light-grayish-blue);
}

main {
    /* border: 2px solid blue; */
    border-radius: var(--secondary-font-size);
    max-width: 60vw;
    max-height: 50dvh;
    display: grid;
    grid-template-columns: 40% 60%;
    background-color: white;
    box-shadow: 0px 5px 32px var(--desaturated-dark-blue);
}

.left-section {
    width: auto;
    height: 50dvh;
}

.left-section img {
    border-top-left-radius: 13px;
    border-bottom-left-radius: 13px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.right-section {
    font-family: Manrope;
    font-weight: 500;
    padding: 2rem;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    gap: auto;
}

.right-section .title {
    color: var(--very-dark-grayish-blue);
    font-size: var(--primary-font-size);
    font-style: bold;
    font-weight: 700;
}

.right-section .caption {
    font-size: var(--secondary-font-size);
    color: var(--desaturated-dark-blue);
}

.right-section .detail {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.right-section .detail img {
    margin-right: 12px;
    width: 40px;
    aspect-ratio: 1;
    border-radius: 50%;
}

.right-section .detail .user {
    position: relative;
    color: var(--desaturated-dark-blue);
    font-size: var(--secondary-font-size);
}

.right-section .detail .user-name {
    color: var(--very-dark-grayish-blue);
    font-weight: 700;
}

.right-section .detail button {
    position: fixed;
    inset: auto 25%;
    margin-left: auto;
    background-image: url('images/icon-share.svg');
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
    background-color: var(--light-grayish-blue);
    border: none;
    border-radius: 50%;
    width: 30px;
    aspect-ratio: 1;
}

.share-options {
    display: none;
}

.share-options.show {
    display: flex;
    background-color: var(--very-dark-grayish-blue);
    border: none;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    transform: translateX(190%);
    transform: translateY(-100%);

}