@use '../fonts/colors' as font;

main {
    width: 40dvw;
    aspect-ratio: 16/5;
    display: grid;
    background: font.$grayishBlue;
    grid-template-columns: repeat(2, 1fr);
    .left-section {
        width: 300px;
        img {
            width: 300px;
            object-fit: cover;
        }
    }
    
}

