// Font Sizes
$primaryFontSize : clamp(2rem, 10vw, 5rem);
$secondaryFontSize : clamp(1rem, 7vw, 3rem);

// Font Styles: 
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap');
$fontFamily : Manrope;
$primaryFontWeight : 500;
$secondaryFontWeight : 700;